*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: Arial, sans-serif;
    background-color: #b8e5ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}
.login-box{
    box-shadow: 0 0 5px 5px #75757525;
    padding: 40px 40px 10px;
    border-radius: 8px;
}
h1{
    font-size: 32px;
    margin-bottom: 20px;
}
img{
    cursor: pointer;
}
button {
    background-color: #4285F4;
    color: white;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #357ae8;
}

button:active {
    background-color: #2c6cdb;
}